@using Loop54.Test.AspNetCore.Models
@model GetRelatedEntitiesViewModel
@{
    ViewData["PageName"] = "GetRelatedEntities";
}
<form id="GetRelatedEntitiesForm" method="POST">
    <div>
        <label for="IdText">Id</label>
        <input type="text" id="IdText" name="id" autofocus="" value="13" />
        <label for="TypeText">Type</label>
        <input type="text" id="TypeText" name="type" autofocus="" value="Product" /><br/>
        <label>Relation kind</label><br/>
        <select name="relationKind">
            <option value="">(no value)</option>
            <option value="similar">Similar</option>
            <option value="complementary">Complementary</option>
        </select>
        <input type="submit" id="SubmitButton" name="GetRelatedEntities" />
    </div>
</form>
@if (Model != null)
{
    <hr />
    <h2>Results</h2>
    <div>@Model.Count total</div>
    <table>
        <tr><th></th><th>Name</th><th>Price</th><th>Category</th><th>Manufacturer</th></tr>
        @foreach (var product in Model.Results)
        {
            <tr>
                <td><img src="@product.ImageUrl" height="100" width="100" /></td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>@product.Manufacturer</td>
            </tr>
        }
    </table>
    <hr />
    <h2>Facets</h2>
    @foreach (var facet in Model.Facets)
    {
        <div>@facet.Name</div>
        @if (facet.IsDistinct)
        {
            var distinctfacet = facet as DistinctFacetViewModel;
            <ul>
                @foreach (var option in distinctfacet.Options)
                {
                    <li>@option.Key  (@option.Value)</li>
                }
            </ul>
        }
        else
        {
            var rangefacet = facet as RangeFacetViewModel;
            <div>Min: @rangefacet.Min</div>
            <div>Max: @rangefacet.Max</div>
        }
    }
}
