
@{
    ViewData["PageName"] = "Index";
}
<ul>
    <li>@Html.ActionLink("AutoComplete", "Index", "AutoComplete", null, null)</li>
    <li>@Html.ActionLink("CreateEvents", "Index", "CreateEvents", null, null)</li>
    <li>@Html.ActionLink("GetEntities", "Index", "GetEntities", null, null)</li>
    <li>@Html.ActionLink("GetEntitiesByAttribute", "Index", "GetEntitiesByAttribute", null, null)</li>
    <li>@Html.ActionLink("GetIndexedAttributes", "Index", "GetIndexedAttributes", null, null)</li>
    <li>@Html.ActionLink("GetRelatedEntities", "Index", "GetRelatedEntities", null, null)</li>
    <li>@Html.ActionLink("Search", "Index", "Search", null, null)</li>
    <li>@Html.ActionLink("Search with custom data", "WithCustomData", "Search", null, null)</li>
</ul>
